<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
         <h2>User info</h2>
         <%= render "/users/errors", user: @user %>
              <%= form_with model:@user, local:true do |f| %>
              <label for="inputName">Name</label>
              <%= f.text_field :name, autofocus: true, id:"inputName" %>
              <br>
              <label for="inputImage">Image</label>
              <%= f.attachment_field :profile_image %>
              <br>
              <label for="inputIntroduction">Introduction</label>
              <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %>
              <br>
              <%= f.submit "Update User", class: "btn btn-secondary" %>
              <% end %>
      </div>
    </div>
  </div>
</main>